/*Page Principal */
.spinner {
    position: fixed;
    display: grid;
    place-items: center;
    background-color: #f1edf5;
    height: 100vh;
    inset: 0;
    z-index: 5;
    opacity: 0.9;
    animation: animation 1s forwards;
    animation-delay: 5s;
}

.spinner::after {
    content: "";
    width: 50px;
    height: 50px;
    border: 10px solid white;
    border-color: #9356dc;
    border-radius: 50%;
    animation: animation 1s ease infinite;
    animation-direction: alternate-reverse;
}

@keyframes animation {
    100% {
        transform: scaleX(0);
    }

}

.title {
    margin-left: 38%;
    width: 15.5%;

}

.icon {
    display: flex;
    margin-left: -0.4%;
    width: 101%;
    font-family: Arial, Helvetica, sans-serif;
    background-color: #eaeaea;
}

.menu-titre {
    position: relative;
    left: -28%;
}

.menu {
    margin-bottom: 2rem;
}

.menu h2 {
    display: flex;
    justify-content: center;
    margin: 1rem 0 0 1rem;
}

.menu ol {
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    gap: 3rem;
    justify-content: center;
}

.menu ol li {
    width: 280px;
    background-color: #F6F6F6;
    border-radius: 1rem;
    padding: 1.5rem 0;
    box-shadow: 0 3px 5px darkgray;
    transition: transform 1s;
    font-size: 1.1rem;
}

.menu ol li i {
    margin-right: 0.5rem;
}

.menu ol li span {
    position: relative;
    left: -1rem;
    border: 1px solid #9356dc;
    padding: 0.4rem 0.8rem;
    border-radius: 50%;
    font-weight: bold;
    background-color: #9356dc;
    color: white;
}

.menu ol li span:hover {
    cursor: pointer;
}

.menu ol li:hover i {
    color: #9356dc;
}

.menu li:hover {
    border-radius: 15px;
    box-shadow: 0 5px 5px rgba(0, 0, 0, 0.16);
    transition: transform .3s;
    cursor: pointer;
    transform: scale(1.02)
}

.fa-location-dot {
    padding: 1%;
}

p {
    width: 50%;
    margin-left: 42%;
    font-size: 110%;
    font-weight: 600;
}

h1 {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    margin-left: 25%;
    font-size: 275%
}

.p2 {
    margin-left: 29%;
    font-size: 120%;
    font-weight: 200;
    font-family: Arial, Helvetica, sans-serif;
    color: #7f7d7e;
}

.pp3 {
    margin-left: auto;
    width: 100%;
    color: white;
}

.bn-res {
    display: inline-block;
    width: 220px;
    height: 21%;
    margin-top: 1%;
    padding: 0.3%;
    border-radius: 50px;
    margin-left: 40%;
    animation: none;
    background: linear-gradient(#9356dc, #ff79da)
}
.bn-res:hover {
    border-radius: 50px;
}
button:hover {
    border-radius: 50px;
    box-shadow: 0 5px 5px rgba(0, 0, 0, 0.16);
    overflow: hidden;
    transition: transform .3s;
    cursor: pointer;
    transform: scale(1.02);
}

.font {
    padding-top: 5%;
    margin-left: -1%;
    width: 101.6%;
    height: 250px;
    background-color: #F2F2F2;
}

h2 {
    font-weight: 700;
    font-family: Arial, Helvetica, sans-serif;
    padding: 2%;
    margin-left: 10%;
}

.font1 {
    width: 100%;
    height: 800px;
    background-color: white;
}

a {
    font-family: Arial, sans-serif
}

img.test1 {
    object-fit: cover;
}

.test2 {
    margin-left: 55%;
    height: 40%;
    width: 40%;
    border-radius: 1%;
}

.test1 {
    width: 90%;
    height: 80%;
    margin-left: 10.5%;
    border-radius: 1%;
}

.cards {
    display: flex;
    margin-left: 5%;
}

.card-h-m {
    background-color: white;
    position: relative;
    border-radius: 20px;
    padding: 0px;
    width: 38%;
    margin-left: 7%;
    height: 260px;
    filter: drop-shadow(10px 15px 10px rgba(7, 7, 7, 0.1));
}

.card-h-m:hover {
    border-radius: 20px;
    box-shadow: 0 5px 5px rgba(0, 0, 0, 0.16);
    overflow: hidden;
    transition: transform .3s;
    cursor: pointer;
    transform: scale(1.01);
}

.cardM {
    position: relative;
    height: 220px;
    width: 100%;
}

.textM {
    position: relative;
    margin-left: 3.9%;
    top: -4%;
    font-size: large;
    font-family: 'Gill Sans', Calibri, 'Trebuchet MS', sans-serif;
}

.textM1 {
    position: relative;
    margin-left: 4%;
    top: -19%;
    font-size: large;
    font-family: 'Gill Sans', Calibri, 'Trebuchet MS', sans-serif;
}

.textM2 {
    position: relative;
    margin-left: 4%;
    font-size: large;
    top: -15%;
}

.textM3 {
    position: relative;
    margin-left: -0.5%;
    margin-top: -2%;
    font-family: 'Gill Sans', Calibri, 'Trebuchet MS', sans-serif;
}

.titre {
    margin-left: -66%;
    margin-top: -5%;
    font-size: large;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto;
    top: -10%;
    color: #605c5e;
}

.titre1 {
    margin-left: 0%;
    width: 50%;
    margin-top: -3%;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto;
    color: #605c5e;
}

.titre2 {
    position: relative;
    margin-left: -72.5%;
    margin-top: -3%;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto;
    color: #605c5e;
}

.titre3 {
    margin-left: -73%;
    margin-top: -3%;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto;
    color: #605c5e;
}

img.test1 {
    width: 100%;
    margin-left: 0%;
    border-radius: 20px 20px 0px 0px;
}

.text6 {
    position: absolute;
    display: flex;
    top: 15px;
    left: 78%;
    padding: 9px;
    font-size: 85%;
    font-family: Arial, sans-serif;
    width: 14%;
    height: 14px;
    border-radius: 3px;
    color: #627965;
    background-color: #99e2d0;
}

.space {
    margin-top: 2%;
}

.fa-utensils {
    margin: 1.5%;
}

.fa-regular {
    font-size: 1.6em;
    cursor: pointer;
    font-weight: 100;
}

.fa-regular:hover {
    -webkit-background-clip: text;
    font-weight: 900;
    -webkit-text-fill-color: rgba(147, 86, 220, 1)
}

.heart {
    position: inherit;
    margin-left: 67%;
    top: 5.3%;
}

.footer{
    background-color: #353535;
    padding-bottom: 1%;
    margin-top: 3%;
}

.contenu-footer{
    display: flex;
    margin-top: 3%;
    padding: -10%;
    width: 100%;
}

.footer span {
    font-size: large;
    margin: -0%;
    margin-left: 5%;
}

.span1 {
    position: absolute;
    left: 33%;
    width: 200px;
}

.span2 {
    position: absolute;
    left: 48.4%;
}

.span3 {
    position: absolute;
    left: 63%;
}

.span4 {
    margin-left: 80%;
}

.footer5 {
    position: absolute;
    width: 12%;
    margin-left: 85%;
    filter: invert();
    padding-top: 2.5%;
    color: white;
}

button {
    animation: Momo 2s 1;
    position: relative;
    animation-direction: normal;
    animation-delay: 1s;
}

/* animation */
@keyframes Momo {
    0% {
        padding-top: 10%;
    }
}

/* Small devices (phones, less than 768px) page Principal */
@media (max-width: 768px)  {
  
    .title {
        width: auto;
        margin-left: 28%;
        padding: 2%;
    }

    .icon {
        width: 585px;
        margin-left: -6px;
        font-family: Arial, Helvetica, sans-serif;
        background-color: #eaeaea;
    }
    div.icon {
        position: relative;
        box-shadow: -5px 0px 5px 3px rgba(0, 0, 0, 0.20);
    }

    .loc {
        margin-left: -15%;
    }

    .p-num {
        display: flex;
        margin-top: -9%;
    }

    .fa-regular.fa-heart.fa-xl {
        margin-left: 90%;
    }

    .font {
        padding-top: 5%;
        width: 585px;
        margin-left: -1%;
        height: 310px;
        background-color: #F6F6F6;
    }

    .bn-res {
        display: flex;
        height: 50px;
        margin-top: 5%;
        width: 40%;
        margin-left: 30%;
    }

    .pp3 {
        width: 100%;
        margin-left: 15%;
        color: white;
    }
    h1 {
        margin-left: 15%;
        font-size: 30px;
        width: 70%;
        margin-top: 1%;
        text-align: center;
    }

    .p2 {
        width: 60%;
        margin-left: 20%;
        font-size: 120%;
        text-align: center;

    }

    h2 {
        margin-left: -1%;
        margin-top: 15%;
        padding-top: 10%;
    
    }

    li {
        margin-left: -10%;
        padding-top: 20%;
        min-width: 100%;
        margin-top: -5%;
    }

    .menu-titre {
        position: relative;
        left: -33%;
        padding-bottom: 5%;
    }

    div.cards {
        flex-direction: column;
    }

    .card-h-m {
        width: 100%;
        margin-left: -2.5%;
        margin-top: 6%;
    }

    img.logo {
        position: absolute;
        width: 120px;
        left: -95px;
        top: -30px
    }

    .space {
        margin-top: 15%;
    }

    .fa-circle-check {
        position: relative;
        margin-left: 50.5%;
        top: -3.4%;
    }

    .footer {
        overflow: hidden;
        padding-bottom: 10%;
        margin-top: 10%;
        height: 190px;
        margin-left: 0%;
        width: 80%;
    }

    .contenu-footer {
        margin-top: 80px;
    }
    .footer span {
        font-size: large;
        margin: -1%;
        margin-left: 5%;
    }

    .span1 {
        left: 1%;
        width: 200px;
    }

    .span2 {
        left: -4%;
        padding: 6%;
    }

    .span3 {
        left: -10%;
        padding: 12%;
    }

    div.span4 {
        padding: 20%;
        margin-left: -19%;
    }
    body {
        overflow:hidden;
    }
   

}